<div class="container my-6">

<form class="column has-background-success ">
            <p class="is-size-2 has-text-white mb-4">Login</p>

            <p class="is-size-3 has-text-white">email:</p>
            <input class="input mx" type="text" placeholder="please enter your email">

            <p class="is-size-3 has-text-white">password:</p>
            <input class="input" type="text" placeholder="please enter your password">
        </form>
        

        <form class="column has-background-success ">
            <p class="is-size-2 has-text-white mb-4">Sign Up</p>

            <p class="is-size-3 has-text-white">name:</p>
            <input class="input" type="text" placeholder="please enter your name">

            <p class="is-size-3 has-text-white">email:</p>
            <input class="input" type="text" placeholder="please enter your email">

            <p class="is-size-3 has-text-white">password:</p>
            <input class="input mb-4" type="text" placeholder="please enter your password">
        </form>


</div>

<script src="../public/js/login.js"></script>