<div class="container my-6">

<form class="column has-background-success ">
            <p class="is-size-2 has-text-white mb-4">Login</p>

            <p class="is-size-3 has-text-white">email:</p>
            <input class="input mx" type="text" placeholder="please enter your email" id="email-login">

            <p class="is-size-3 has-text-white">password:</p>
            <input class="input mb-4" type="text" placeholder="please enter your password" id="password-login">

              <button class="button is-success is-light" type="submit">Login</button>
        </form>
        

        <form class="column has-background-success ">
            <p class="is-size-2 has-text-white mb-4">Sign Up</p>

            <p class="is-size-3 has-text-white">name:</p>
            <input class="input" type="text" placeholder="please enter your name" id="name-signup">

            <p class="is-size-3 has-text-white">email:</p>
            <input class="input" type="text" placeholder="please enter your email" id="email-signup">

            <p class="is-size-3 has-text-white">password:</p>
            <input class="input mb-4" type="text" placeholder="please enter your password" id="password-signup">

              <button class="button is-success is-light" type="submit">Sign Up</button>
        </form>


</div>

<script src="../public/js/login.js"></script>